@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.RandomPlanet {
    padding: 15px;   
    font-family: 'Electrolize', sans-serif;
}

.RandomPlanet .planet_block img{
    width: 30%;
    border-radius: 50%;
}

.RandomPlanet .planet_block .planet_info_block {
    width: 70%;
    list-style: none;
}

.RandomPlanet .planet_block .planet_info_block span:first-child {
    margin-right: 10px;
}