.DetailsInfo {
    padding: 15px;
}

.DetailsInfo .info_block {
    align-items: center;
}

.DetailsInfo .info_block img {
    width: 40%;
}

.DetailsInfo .detail_info_block {
    padding-left: 15px;
    list-style: none;
}

.DetailsInfo .detail_info_block li span {
    margin-right: 10px;
}